.cuadrante {
	height: 20em;
}
.seccion {
	height: 10em;
}

#informacionC3{
  transform: ;
    -webkit-user-select: none;
    background-color: rgba(216, 205, 221, 0.93);
    border-color: rgba(175, 19, 19, 0.68);
    border-style: solid;
    margin: 0 auto;
    margin-top: 1%;
   width: 90%;
    height: 97%;
	 font-size: 1vw;
}
#cancel{
    width: 2.1%;
    position:fixed;
    left: 21%;
    top: 47.2%;
    transform: ;
}