.cuadrante {
	height: 20em;
}
.seccion {
	height: 10em;
}

.btnIconos{
    font-size: 23px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 2px grey;
    -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s;
}
.btnIconos:hover {
    width: 60px;
    height: 60px;
}

#informacionC3{
  transform: ;
    -webkit-user-select: none;
    background-color: rgba(216, 205, 221, 0.93);
    border-color: rgba(175, 19, 19, 0.68);
    border-style: solid;
    margin: 0 auto;
    margin-top: 1%;
   width: 90%;
    height: 97%;
	 font-size: 3vw;
     font-family: verdana;
     text-align: center;
     text-shadow: 2px 2px 1px grey;
     /*color: white;
     text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}
#cancel{
    width: 8%;
    position:absolute;
    left: 85%;
    top: 1%;
    transform: ;
}

html,body{
    
    color: black;
    height: 98.8%;
    width: 100%;
    margin: 0px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}


@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
    
    top: 25%;
  background: rgba(0, 0, 0, 0.26);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 50%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200;
  z-index: 2;
    
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100%;
  width: 100%;
}
.imagenes{

    width: 35vw;
    height: 23vw;
}
#salva{
    background-color: red;
    
    height: 100%;
    width: 100%;
}
#salvapantallas{

    
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.96);
    background-size: cover;
    height: 100%;
    width: 100%;
    font-size: 2.5em;
}

.textoes.uno{
    color: white;
    transform: rotate(180deg);
    text-align: center;
    margin-top: 2%;
}
.textoes.dos{
    color:white;
    text-align: center;
  margin-top: 35%;
}